.forecast-hourly {
  font-family: $font;
  font-size: 20px;
  font-weight: normal;
  color: rgba(0, 0, 0, .8);
  width: 100%;

  table {
    width: 100%;

    thead {

      tr {

        th {
          flex-basis: 20%;
          font-weight: bold;
          padding: 20px;
          text-align: left;
        }
      }
    }

    tbody {

      tr {
        border-top: 1px solid rgba(0, 0, 0, .08);

        td {
          flex-basis: 20%;
          padding: 20px;
          text-align: left;

          &.hourly-icon {
            padding: 5px 5px 5px 15px;
          }

          img {
            height: 50px;
          }
        }
      }
    }

    li {
      float: left;
      padding: 20px 0;
    }
  }
}