.forecast-daily {
  color: rgba(0, 0, 0, .8);
  font-family: $font;
  font-weight: normal;
  margin: 80px 0;
  width: 100%;

  h4 {
    background-color: #8fd3f4;
    border-radius: 2px 2px 0 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 40px;
    text-transform: uppercase;
  }

  .forecast-daily-card {
    background-color: rgba(0, 0, 0, .05);

    .daily-icon {
      padding: 25px 20px ;

      img {
        width: 70%;
      }
    }

    p {
      font-size: 20px;
      padding: 0 20px 20px;
    }
  }

  ul {
    border-radius: 2px;
    padding: 0 20px;

    li {
      font-size: 16px;
      padding: 15px 0;

      i {
        padding-right: 6px;
      }
    }
  }
}