.forecast-daily {
  border-left: 2px solid rgba(#000, .8);
  color: rgba(0, 0, 0, .8);
  font-family: $font;
  font-weight: normal;
  margin: 0 0 100px;
  width: 100%;

  .forecast-daily-card {
    border-right: 2px solid rgba(#000, .8);
    height: 320px;
    padding: 20px;
    position: relative;
    width: 200px;

    h4 {
      color: rgba(#000, .8);
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase;
    }

    h5 {
      color: rgba(#000, .7);
      font-size: 16px;
      font-weight: 300;
      padding-top: 5px;
    }

    .daily-icon {
      padding: 25px 0;

      img {
        width: 105px;
      }
    }

    p {
      color: rgba(#000, .8);
      font-size: 16px;
      // padding-bottom: 20px;
    }
  }

  .forecast-daily-card-extra-data {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 20px 20px;
    position: absolute;
  }

  ul {

    li {
      color: rgba(#000, .7);
      font-size: 14px;
      // padding: 15px 0;

      i {
        padding-right: 6px;
      }
    }
  }
}