body {
  background-color: #ffffff;
  font-family: $font;
}

.container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.home-container {
  background-image: url('/assets/home-image.jpg');
  background-position: top;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.wrapper {
  margin: auto;
  max-width: 1024px;
  text-align: center;
  width: 100%;

  a {
    text-decoration: none;
  }

  @media only screen and (max-width: $breakpoint-large) {
    padding: 0 40px ;
    width: 100%;
  }

  @media only screen and (max-width: $breakpoint-medium) {
    padding: 10px 24px 0;
    width: 100%;
  }

  @media only screen and (max-width: $breakpoint-small) {
    padding: 16px 24px;
    width: 100%;
  }
}

.home-header {
  display: flex;
}

.home-bg {
  background-color: rgba($black,.7);
  height: 100%;
  width: 100%;
}

.homepage-headline {
  padding: 0 0 56px 0;

  @media only screen and (max-width: $breakpoint-medium) {
    padding: 0 0 40px 0;
  }

  @media only screen and (max-width: $breakpoint-small) {
    padding: 0 0 16px 0;
  }
}

.home-content-container {
  margin: auto;
}

.title {
  color: #ffffff;
  font-family: $font-secondary;
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 0px;

  @media only screen and (max-width: $breakpoint-small) {
    font-size: 44px;
  }
}

.tagline {
  color: rgba(255, 255, 255, 0.5);
  font-family: $font;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;

  @media only screen and (max-width: $breakpoint-small) {
    font-size: 15px;
    letter-spacing: .5px;
  }
}