.logo {
  color: #ffffff;
  font-family: $font;
  font-size: 28px;
  font-weight: 800;
  line-height: 40px;

  @media only screen and (max-width: $breakpoint-small) {
  	display: block;
  	margin-bottom: 16px;
  	line-height: normal;
  }
}