.logo {
  color: #ffffff;
  font-family: $font-secondary;
  font-size: 32px;
  line-height: 40px;

  @media only screen and (max-width: $breakpoint-small) {
  	display: block;
  	margin-bottom: 20px;
  }
}