form {
  display: inline-block;
}


/*
** Small Search Box
**
** Display a smaller version on sub pages in the application.
*/

.small-searchbox {

  input {
    background-color: rgba(#000, .1);
    padding-right: 50px;
    transition: all .4s;

    &:hover,
    &:focus {
      background-color: rgba(#fff, 1);
    }
  }

  .geosuggest__input {
    box-shadow: none;
    font-size: 14px;
    height: 40px;
    width: 300px;

    &:hover {
      box-shadow: none;
    }

    &:focus {
      box-shadow: none;
      outline: 0;
    }
  }

  ::-webkit-input-placeholder {       /* Chrome/Opera/Safari */
  color: rgba(#000, .15);
}

  .geosuggest__suggests-wrapper {
    width: 300px;

    @media only screen and (max-width: $breakpoint-small) {
      width: 280px;
    }
  }

  .geosuggest__suggests {
    border-radius: 0 0 2px 2px;

    li {
      color: rgba(#000, 0.8);
      font-size: 14px;
      text-align: left;

    }
  }

  .geosuggest__item--active {
    background: rgba(#000, 0.08);
    color: #fff;
  }

  .geosuggest__suggests--hidden {
    max-height: 0;
    overflow: hidden;
    border-width: 0;
  }

  .search-button {
    background-color: transparent;
    border: 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: rgba(#000, .15);
    cursor: pointer;
    display: inline;
    float: right;
    font-family: "Avenir Next";
    font-size: 14px;
    margin-left: -43px;
    padding: 10.5px 15px;
    position: absolute;
    transition: all .3s;

    &:hover {
      color: rgba(#000, .3);
    }
  }

  @media only screen and (max-width: $breakpoint-small) {

    form {
      // width: 100%;

      .geosuggest {
        width: 280px;

        .geosuggest__input {
          width: 280px;
        }
      }
    }
  }
}


/*
** Large Search Box
**
** Display a large version on homepage in the application.
*/

.home-search-box {
  margin-top: 100px;

  @media only screen and (max-width: $breakpoint-small) {
    margin-top: 80px;
  }
}

.geosuggest {
  float: left;
}

.geosuggest__input {
  border: 0;
  border-radius: 2px;
  box-shadow: 0px 0px 8px rgba(#000, .12), 0px 4px 8px rgba(#000, .12);
  color: rgba(#000, .8);
  font-family: $font;
  font-size: 18px;
  font-weight: 300;
  padding: 15px 65px 15px 20px;
  transition: all .3s;
  width: 550px;

  &:hover {
    box-shadow: 0px 2px 12px rgba(#000, .12), 0px 8px 16px rgba(#000, .24);
  }

  &:focus {
    box-shadow: 0px 2px 12px rgba(#000, .12), 0px 8px 16px rgba(#000, .24);
    outline: 0;
  }

  @media only screen and (max-width: $breakpoint-small) {
    font-size: 14px;
    padding: 10px 65px 10px 10px;
    width: 260px;
  }
}

.geosuggest__suggests-wrapper {
  position: absolute;
  width: 550px;

  @media only screen and (max-width: $breakpoint-small) {
    width: 260px;
  }
}

.geosuggest__suggests {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0 0 2px 2px;
  box-shadow: 0px 2px 4px rgba(#000, 0.12), 0px 8px 12px rgba(#000, 0.24);
  margin-top: -1px;
  max-height: 25em;
  overflow-x: hidden;
  overflow-y: auto;
  transition: max-height 0.4s;

  li {
    color: rgba(#000, 0.8);
    font-family: $font;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 10px 10px 18px;
    text-align: left;

    &:hover {
      background-color: rgba(#000, 0.08);
      cursor: pointer;
    }
  }

  @media only screen and (max-width: $breakpoint-small) {

    li {
      font-size: 13px;
      padding: 8px 5px 8px 10px;
    }
  }
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.geosuggest__item--active {
  background: rgba(#000, 0.08);
  color: #fff;
}

::-webkit-input-placeholder {       /* Chrome/Opera/Safari */
  color: rgba(#000, .15);
}


/*
** Search Button
**
**
*/

.search-button {
  background-color: transparent;
  border: 0px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: rgba(#000, .15);
  cursor: pointer;
  display: inline;
  float: right;
  font-size: 16px;
  margin-left: -65px;
  outline: none;
  padding: 17px 25px;
  position: absolute;
  transition: all .3s;

  &:hover {
    color: rgba(#000, .3);
  }

  @media only screen and (max-width: $breakpoint-small) {
    background: rgba(0,0,0,.1);
    margin-left: -44px;
    padding: 10px 15px;
  }
}