form {
  display: inline-block;
}

.geosuggest {
  float: left;
}

.geosuggest__input {
  border: 0;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.8);
  font-family: $font;
  font-size: 20px;
  font-weight: 400;
  padding: 15px 20px;
  transition: all .3s;
  width: 550px;

  .is-small {
    width: 200px;
  }

  &:hover {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.08);
  }

  &:focus {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.08);
    outline: 0;
  }
}

.geosuggest__suggests-wrapper {
  position: absolute;
  width: 550px;
}

.geosuggest__suggests {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16), 0px 4px 8px rgba(0, 0, 0, 0.16);
  margin-top: -1px;

  li {
    color: rgba(0, 0, 0, 0.8);
    font-family: $font;
    font-size: 20px;
    padding: 10px 0 10px 18px;
    text-align: left;

    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
      cursor: pointer;
    }
  }
}

::-webkit-input-placeholder {       /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, .15);
}

.search-bar {
  margin-top: 100px;
}

.search-button {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: rgba(0, 0, 0, .15);
  cursor: pointer;
  display: inline;
  float: right;
  font-family: "Avenir Next";
  font-size: 16px;
  margin-left: -65px;
  padding: 15.5px 25px;
  position: absolute;
  transition: all .3s;

  &:hover {
    color: rgba(0, 0, 0, .3);
  }
}