form {
  display: inline-block;
}


/*
** Small Search Box
**
** Display a smaller version on sub pages in the application.
*/

.small-searchbox {

  .geosuggest__input {
    font-size: 16px;
    height: 40px;
    width: 300px;

    &:hover {
      box-shadow: 0px 2px 8px rgba(#000, .08), 0px 4px 8px rgba(#000, .16);
    }

    &:focus {
      box-shadow: 0px 2px 8px rgba(#000, .08), 0px 4px 8px rgba(#000, .16);
      outline: 0;
    }
  }

  .geosuggest__suggests-wrapper {
    width: 300px;
  }

  .geosuggest__suggests {
    border-radius: 0 0 2px 2px;

    li {
      color: rgba(0, 0, 0, 0.8);
      font-size: 16px;
      text-align: left;

    }
  }

  .geosuggest__item--active {
    background: rgba(0, 0, 0, 0.08);
    color: #fff;
  }

  .geosuggest__suggests--hidden {
    max-height: 0;
    overflow: hidden;
    border-width: 0;
  }

  .search-button {
    background-color: #ffffff;
    border: 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: rgba(0, 0, 0, .15);
    cursor: pointer;
    display: inline;
    float: right;
    font-family: "Avenir Next";
    font-size: 16px;
    margin-left: -45px;
    padding: 9px 15px;
    position: absolute;
    transition: all .3s;

    &:hover {
      color: rgba(0, 0, 0, .3);
    }
  }
}


/*
** Large Search Box
**
** Display a large version on homepage in the application.
*/

.home-search-box {
  margin-top: 100px;
}

.geosuggest {
  float: left;
}

.geosuggest__input {
  border: 0;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(#000, .08), 0px 2px 4px rgba(#000, .08);
  color: rgba(#000, .8);
  font-family: $font;
  font-size: 20px;
  font-weight: 400;
  padding: 15px 20px;
  transition: all .3s;
  width: 550px;

  &:hover {
    box-shadow: 0px 2px 12px rgba(#000, .08), 0px 4px 12px rgba(#000, .16);
  }

  &:focus {
    box-shadow: 0px 2px 12px rgba(#000, .08), 0px 4px 12px rgba(#000, .08);
    outline: 0;
  }
}

.geosuggest__suggests-wrapper {
  position: absolute;
  width: 550px;
}

.geosuggest__suggests {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0 0 2px 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16), 0px 4px 8px rgba(0, 0, 0, 0.16);
  margin-top: -1px;
  max-height: 25em;
  overflow-x: hidden;
  overflow-y: auto;
  transition: max-height 0.4s;

  li {
    color: rgba(0, 0, 0, 0.8);
    font-family: $font;
    font-size: 20px;
    padding: 10px 0 10px 18px;
    text-align: left;

    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
      cursor: pointer;
    }
  }
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.geosuggest__item--active {
  background: rgba(0, 0, 0, 0.08);
  color: #fff;
}

::-webkit-input-placeholder {       /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, .15);
}


/*
** Search Button
**
**
*/

.search-button {
  background-color: #ffffff;
  border: 0px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: rgba(0, 0, 0, .15);
  cursor: pointer;
  display: inline;
  float: right;
  margin-left: -65px;
  outline: none;
  padding: 16.5px 25px;
  position: absolute;
  transition: all .3s;

  &:hover {
    color: rgba(0, 0, 0, .3);
  }
}