$font: 'Montserrat', sans-serif;
$font-secondary: 'Patua One', cursive;

$breakpoint-small: 480px;
$breakpoint-medium: 800px;
$breakpoint-large: 1200px;

$white: #ffffff;
$black: #000000;

$bluegrey-50: #ECEFF1;
$bluegrey-100: #CFD8DC;
$bluegrey-200: #B0BEC5;
$bluegrey-300: #90A4AE;
$bluegrey-400: #78909C;
$bluegrey-500: #607D8B;
$bluegrey-600: #546E7A;
$bluegrey-700: #455A64;
$bluegrey-800: #37474F;
$bluegrey-900: #263238;