/*
** BASE
**
*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
** SEARCH BAR
**
*/
.geosuggest {
  float: left; }

.geosuggest__input {
  border: 0;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.8);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 15px 20px;
  transition: all .3s;
  width: 550px; }
  .geosuggest__input:hover {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.08); }
  .geosuggest__input:focus {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.08);
    outline: 0; }

.geosuggest__suggests-wrapper {
  position: absolute;
  width: 550px; }

.geosuggest__suggests {
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16), 0px 4px 8px rgba(0, 0, 0, 0.16);
  margin-top: -1px; }
  .geosuggest__suggests li {
    color: rgba(0, 0, 0, 0.8);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    padding: 10px 0 10px 18px;
    text-align: left; }
    .geosuggest__suggests li:hover {
      background-color: rgba(0, 0, 0, 0.08);
      cursor: pointer; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.15); }

.search-bar {
  margin-top: 100px; }

.search-button {
  background-color: transparent;
  border: 0px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: inline;
  float: right;
  font-family: "Avenir Next";
  font-size: 16px;
  margin-left: -65px;
  padding: 15.5px 25px;
  position: absolute;
  transition: all .3s; }
  .search-button:hover {
    color: rgba(0, 0, 0, 0.3); }

.container {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.main {
  text-align: center;
  width: 960px;
  margin: auto; }
  .main a {
    text-decoration: none; }

.homepage {
  margin-top: 140px; }

.title {
  color: #ffffff;
  font-family: "Patua One", cursive;
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 0px; }

.tagline {
  color: rgba(0, 0, 0, 0.15);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px; }

/*
** FLEX
**
*/
.is-round {
  border-radius: 2px; }

.uppercase {
  text-transform: uppercase; }

.l-flex {
  display: flex; }
  .l-flex.is-hori {
    flex-direction: row; }
  .l-flex.is-hori-rev {
    flex-direction: row-reverse; }
  .l-flex.is-vert {
    flex-direction: column; }
  .l-flex.is-vert-rev {
    flex-direction: column-reverse; }
  .l-flex.align-hori-left {
    justify-content: left; }
  .l-flex.align-hori-center {
    justify-content: center; }
  .l-flex.align-vert-center {
    align-items: center; }
  .l-flex.align-vert-flex-start {
    align-items: flex-start; }
  .l-flex.align-hori-space-between {
    justify-content: space-between; }
  .l-flex.align-hori-space-around {
    justify-content: space-around; }
  .l-flex.flex-wrap {
    flex-wrap: wrap; }

/*
** WEATHER DATA
**
*/
.weather-current {
  margin: 50px 0; }

.city-name {
  color: rgba(0, 0, 0, 0.15);
  font-family: "Patua One", cursive;
  font-size: 32px; }

.current-date {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 5px; }

.current-temp {
  color: #ffffff;
  float: right;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 160px;
  font-weight: 800;
  margin: 60px 0 40px; }
  .current-temp span {
    font-weight: 200; }

.current-condition {
  float: left;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase; }

.current-info {
  color: #ffffff;
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 300;
  width: 100%; }
  .current-info ul {
    float: right; }
  .current-info li {
    float: left;
    padding: 0 0 0 80px; }
    .current-info li span {
      font-weight: 700; }

.forecast-header {
  color: rgba(0, 0, 0, 0.08);
  font-family: "Patua One", cursive;
  font-size: 64px;
  margin: 50px 0; }

form {
  display: inline-block; }

.forecast-daily {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.8);
  width: 100%; }
  .forecast-daily ul {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 2px;
    padding: 30px; }
    .forecast-daily ul h4 {
      font-weight: bold;
      text-transform: uppercase; }

.forecast-hourly {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.8);
  width: 100%; }
  .forecast-hourly table {
    width: 100%; }
    .forecast-hourly table thead tr th {
      flex-basis: 20%;
      font-weight: bold;
      padding: 20px;
      text-align: left; }
    .forecast-hourly table tbody tr {
      border-top: 1px solid rgba(0, 0, 0, 0.08); }
      .forecast-hourly table tbody tr td {
        flex-basis: 20%;
        padding: 20px;
        text-align: left; }
    .forecast-hourly table li {
      float: left;
      padding: 20px 0; }
