/*
** BASE
**
*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.logo {
  color: #ffffff;
  font-family: "Patua One", cursive;
  font-size: 32px;
  line-height: 40px; }
  @media only screen and (max-width: 480px) {
    .logo {
      display: block;
      margin-bottom: 20px; } }

/*
** LAYOUT
**
*/
.l-flex {
  display: flex; }
  .l-flex.flex-wrap {
    flex-wrap: wrap; }
  .l-flex.is-hori {
    flex-direction: row; }
  .l-flex.is-hori-reverse {
    flex-direction: row-reverse; }
  .l-flex.is-vert {
    flex-direction: column; }
  .l-flex.is-vert-reverse {
    flex-direction: column-reverse; }
  .l-flex.align-main-left {
    justify-content: flex-start; }
  .l-flex.align-main-right {
    justify-content: flex-end; }
  .l-flex.align-main-center {
    justify-content: center; }
  .l-flex.align-main-space-between {
    justify-content: space-between; }
  .l-flex.align-main-space-around {
    justify-content: space-around; }
  .l-flex.align-cross-top {
    align-items: flex-start; }
  .l-flex.align-cross-bottom {
    align-items: flex-end; }
  .l-flex.align-cross-center {
    align-items: center; }
  .l-flex.align-cross-stretch {
    align-items: stretch; }
  .l-flex.align-cross-baseline {
    align-items: baseline; }

.flex-col-1 {
  flex-grow: 1; }

.flex-col-2 {
  flex-grow: 2; }

.flex-col-3 {
  flex-grow: 3; }

.flex-col-4 {
  flex-grow: 4; }

.flex-col-5 {
  flex-grow: 5; }

.flex-col-6 {
  flex-grow: 6; }

.flex-col-7 {
  flex-grow: 7; }

.flex-col-8 {
  flex-grow: 8; }

.flex-col-9 {
  flex-grow: 9; }

.flex-col-10 {
  flex-grow: 10; }

.flex-col-11 {
  flex-grow: 11; }

.flex-col-12 {
  flex-grow: 12; }

form {
  display: inline-block; }

/*
** Small Search Box
**
** Display a smaller version on sub pages in the application.
*/
.small-searchbox input {
  background-color: rgba(0, 0, 0, 0.1);
  padding-right: 50px;
  transition: all .4s; }
  .small-searchbox input:hover, .small-searchbox input:focus {
    background-color: white; }

.small-searchbox .geosuggest__input {
  box-shadow: none;
  font-size: 14px;
  height: 40px;
  width: 300px; }
  .small-searchbox .geosuggest__input:hover {
    box-shadow: none; }
  .small-searchbox .geosuggest__input:focus {
    box-shadow: none;
    outline: 0; }

.small-searchbox ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.15); }

.small-searchbox .geosuggest__suggests-wrapper {
  width: 300px; }
  @media only screen and (max-width: 480px) {
    .small-searchbox .geosuggest__suggests-wrapper {
      width: 280px; } }

.small-searchbox .geosuggest__suggests {
  border-radius: 0 0 2px 2px; }
  .small-searchbox .geosuggest__suggests li {
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    text-align: left; }

.small-searchbox .geosuggest__item--active {
  background: rgba(0, 0, 0, 0.08);
  color: #fff; }

.small-searchbox .geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0; }

.small-searchbox .search-button {
  background-color: transparent;
  border: 0px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: inline;
  float: right;
  font-family: "Avenir Next";
  font-size: 14px;
  margin-left: -43px;
  padding: 10.5px 15px;
  position: absolute;
  transition: all .3s; }
  .small-searchbox .search-button:hover {
    color: rgba(0, 0, 0, 0.3); }

@media only screen and (max-width: 480px) {
  .small-searchbox form .geosuggest {
    width: 280px; }
    .small-searchbox form .geosuggest .geosuggest__input {
      width: 280px; } }

/*
** Large Search Box
**
** Display a large version on homepage in the application.
*/
.home-search-box {
  margin-top: 100px; }
  @media only screen and (max-width: 480px) {
    .home-search-box {
      margin-top: 80px; } }

.geosuggest {
  float: left; }

.geosuggest__input {
  border: 0;
  border-radius: 2px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12), 0px 4px 8px rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.8);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 15px 65px 15px 20px;
  transition: all .3s;
  width: 550px; }
  .geosuggest__input:hover {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12), 0px 8px 16px rgba(0, 0, 0, 0.24); }
  .geosuggest__input:focus {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12), 0px 8px 16px rgba(0, 0, 0, 0.24);
    outline: 0; }
  @media only screen and (max-width: 480px) {
    .geosuggest__input {
      font-size: 14px;
      padding: 10px 65px 10px 10px;
      width: 260px; } }

.geosuggest__suggests-wrapper {
  position: absolute;
  width: 550px; }
  @media only screen and (max-width: 480px) {
    .geosuggest__suggests-wrapper {
      width: 260px; } }

.geosuggest__suggests {
  background-color: white;
  border-radius: 0 0 2px 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 8px 12px rgba(0, 0, 0, 0.24);
  margin-top: -1px;
  max-height: 25em;
  overflow-x: hidden;
  overflow-y: auto;
  transition: max-height 0.4s; }
  .geosuggest__suggests li {
    color: rgba(0, 0, 0, 0.8);
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 10px 10px 18px;
    text-align: left; }
    .geosuggest__suggests li:hover {
      background-color: rgba(0, 0, 0, 0.08);
      cursor: pointer; }
  @media only screen and (max-width: 480px) {
    .geosuggest__suggests li {
      font-size: 13px;
      padding: 8px 5px 8px 10px; } }

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0; }

.geosuggest__item--active {
  background: rgba(0, 0, 0, 0.08);
  color: #fff; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.15); }

/*
** Search Button
**
**
*/
.search-button {
  background-color: transparent;
  border: 0px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: inline;
  float: right;
  font-size: 16px;
  margin-left: -65px;
  outline: none;
  padding: 17px 25px;
  position: absolute;
  transition: all .3s; }
  .search-button:hover {
    color: rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 480px) {
    .search-button {
      background: rgba(0, 0, 0, 0.1);
      margin-left: -44px;
      padding: 10px 15px; } }

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
  top: 0; }
  @media only screen and (max-width: 480px) {
    .top-bar {
      flex-direction: column;
      padding-top: 5px; } }

.container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.main {
  text-align: center;
  width: 1000px;
  margin: auto; }
  .main a {
    text-decoration: none; }
  @media only screen and (max-width: 800px) {
    .main {
      padding: 10px 50px 0;
      width: 100%; } }
  @media only screen and (max-width: 480px) {
    .main {
      padding: 10px 20px 0;
      width: 100%; } }

.home-bg {
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
  height: 100%;
  width: 100%; }

.homepage {
  padding: 150px 0 0 0; }
  @media only screen and (max-width: 480px) {
    .homepage {
      padding: 140px 0 0 0; } }

.homepage-content {
  margin-top: -200px; }

.title {
  color: #ffffff;
  font-family: "Patua One", cursive;
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 0px; }
  @media only screen and (max-width: 480px) {
    .title {
      font-size: 44px; } }

.tagline {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px; }
  @media only screen and (max-width: 480px) {
    .tagline {
      font-size: 15px;
      letter-spacing: .5px; } }

/*
** SEARCH BAR
**
*/
form {
  display: inline-block; }

/*
** Small Search Box
**
** Display a smaller version on sub pages in the application.
*/
.small-searchbox input {
  background-color: rgba(0, 0, 0, 0.1);
  padding-right: 50px;
  transition: all .4s; }
  .small-searchbox input:hover, .small-searchbox input:focus {
    background-color: white; }

.small-searchbox .geosuggest__input {
  box-shadow: none;
  font-size: 14px;
  height: 40px;
  width: 300px; }
  .small-searchbox .geosuggest__input:hover {
    box-shadow: none; }
  .small-searchbox .geosuggest__input:focus {
    box-shadow: none;
    outline: 0; }

.small-searchbox ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.15); }

.small-searchbox .geosuggest__suggests-wrapper {
  width: 300px; }
  @media only screen and (max-width: 480px) {
    .small-searchbox .geosuggest__suggests-wrapper {
      width: 280px; } }

.small-searchbox .geosuggest__suggests {
  border-radius: 0 0 2px 2px; }
  .small-searchbox .geosuggest__suggests li {
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    text-align: left; }

.small-searchbox .geosuggest__item--active {
  background: rgba(0, 0, 0, 0.08);
  color: #fff; }

.small-searchbox .geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0; }

.small-searchbox .search-button {
  background-color: transparent;
  border: 0px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: inline;
  float: right;
  font-family: "Avenir Next";
  font-size: 14px;
  margin-left: -43px;
  padding: 10.5px 15px;
  position: absolute;
  transition: all .3s; }
  .small-searchbox .search-button:hover {
    color: rgba(0, 0, 0, 0.3); }

@media only screen and (max-width: 480px) {
  .small-searchbox form .geosuggest {
    width: 280px; }
    .small-searchbox form .geosuggest .geosuggest__input {
      width: 280px; } }

/*
** Large Search Box
**
** Display a large version on homepage in the application.
*/
.home-search-box {
  margin-top: 100px; }
  @media only screen and (max-width: 480px) {
    .home-search-box {
      margin-top: 80px; } }

.geosuggest {
  float: left; }

.geosuggest__input {
  border: 0;
  border-radius: 2px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12), 0px 4px 8px rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.8);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 15px 65px 15px 20px;
  transition: all .3s;
  width: 550px; }
  .geosuggest__input:hover {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12), 0px 8px 16px rgba(0, 0, 0, 0.24); }
  .geosuggest__input:focus {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12), 0px 8px 16px rgba(0, 0, 0, 0.24);
    outline: 0; }
  @media only screen and (max-width: 480px) {
    .geosuggest__input {
      font-size: 14px;
      padding: 10px 65px 10px 10px;
      width: 260px; } }

.geosuggest__suggests-wrapper {
  position: absolute;
  width: 550px; }
  @media only screen and (max-width: 480px) {
    .geosuggest__suggests-wrapper {
      width: 260px; } }

.geosuggest__suggests {
  background-color: white;
  border-radius: 0 0 2px 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 8px 12px rgba(0, 0, 0, 0.24);
  margin-top: -1px;
  max-height: 25em;
  overflow-x: hidden;
  overflow-y: auto;
  transition: max-height 0.4s; }
  .geosuggest__suggests li {
    color: rgba(0, 0, 0, 0.8);
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 10px 10px 18px;
    text-align: left; }
    .geosuggest__suggests li:hover {
      background-color: rgba(0, 0, 0, 0.08);
      cursor: pointer; }
  @media only screen and (max-width: 480px) {
    .geosuggest__suggests li {
      font-size: 13px;
      padding: 8px 5px 8px 10px; } }

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0; }

.geosuggest__item--active {
  background: rgba(0, 0, 0, 0.08);
  color: #fff; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.15); }

/*
** Search Button
**
**
*/
.search-button {
  background-color: transparent;
  border: 0px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: inline;
  float: right;
  font-size: 16px;
  margin-left: -65px;
  outline: none;
  padding: 17px 25px;
  position: absolute;
  transition: all .3s; }
  .search-button:hover {
    color: rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 480px) {
    .search-button {
      background: rgba(0, 0, 0, 0.1);
      margin-left: -44px;
      padding: 10px 15px; } }

/*
** FLEX
**
*/
.is-round {
  border-radius: 2px; }

.uppercase {
  text-transform: uppercase; }

.l-flex {
  display: flex; }
  .l-flex.is-hori {
    flex-direction: row; }
  .l-flex.is-hori-rev {
    flex-direction: row-reverse; }
  .l-flex.is-vert {
    flex-direction: column; }
  .l-flex.is-vert-rev {
    flex-direction: column-reverse; }
  .l-flex.align-hori-left {
    justify-content: left; }
  .l-flex.align-hori-center {
    justify-content: center; }
  .l-flex.align-vert-center {
    align-items: center; }
  .l-flex.align-vert-flex-start {
    align-items: flex-start; }
  .l-flex.align-hori-space-between {
    justify-content: space-between; }
  .l-flex.align-hori-space-around {
    justify-content: space-around; }
  .l-flex.flex-wrap {
    flex-wrap: wrap; }

/*
** WEATHER DATA
**
*/
.weather-header {
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
  height: 520px; }
  @media only screen and (max-width: 800px) {
    .weather-header {
      height: 410px; } }
  @media only screen and (max-width: 480px) {
    .weather-header {
      height: 520px; } }

.weather-current {
  margin: 50px 0; }
  .weather-current .current-icon {
    fill: white;
    width: 220px; }
  @media only screen and (max-width: 800px) {
    .weather-current .current-icon {
      width: 200px; } }
  @media only screen and (max-width: 480px) {
    .weather-current .current-icon {
      margin: 30px 10px;
      height: 80px;
      width: 100px; } }

.city-name {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase; }
  @media only screen and (max-width: 480px) {
    .city-name {
      font-size: 20px; } }

.current-date {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-top: 5px;
  text-transform: uppercase; }
  @media only screen and (max-width: 480px) {
    .current-date {
      font-size: 16px; } }

.current-temp {
  color: #ffffff;
  float: right;
  font-family: "Montserrat", sans-serif;
  font-size: 160px;
  font-weight: 800;
  margin: 60px 0; }
  .current-temp span {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 200; }
  @media only screen and (max-width: 800px) {
    .current-temp {
      font-size: 110px; } }
  @media only screen and (max-width: 800px) {
    .current-temp {
      font-size: 40px;
      line-height: 80px;
      margin: 40px 0 20px; } }

.current-condition {
  color: #ffffff;
  float: left;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase; }
  @media only screen and (max-width: 800px) {
    .current-condition {
      font-size: 16px; } }
  @media only screen and (max-width: 480px) {
    .current-condition {
      float: none;
      padding-bottom: 30px; } }

.current-info {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 300;
  width: 100%; }
  .current-info ul {
    color: rgba(255, 255, 255, 0.4);
    float: right; }
  .current-info li {
    float: left;
    padding-left: 80px; }
    .current-info li span {
      color: #ffffff;
      font-weight: 600; }
  @media only screen and (max-width: 800px) {
    .current-info {
      font-size: 16px;
      padding-top: 20px; }
      .current-info li {
        padding-left: 40px; } }
  @media only screen and (max-width: 480px) {
    .current-info {
      padding-top: 0; }
      .current-info li {
        padding: 5px 0;
        width: 100%; } }

.forecast-header {
  color: rgba(0, 0, 0, 0.08);
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 700;
  margin: 100px 0 70px; }
  @media only screen and (max-width: 800px) {
    .forecast-header {
      font-size: 56px; } }
  @media only screen and (max-width: 480px) {
    .forecast-header {
      font-size: 40px; } }

.forecast-daily {
  border-left: 2px solid rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  margin: 0 0 100px;
  width: 100%; }
  .forecast-daily .forecast-daily-card {
    border-right: 2px solid rgba(0, 0, 0, 0.8);
    height: 320px;
    padding: 15px 20px;
    position: relative;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .forecast-daily .forecast-daily-card h4 {
      color: rgba(0, 0, 0, 0.8);
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase; }
    .forecast-daily .forecast-daily-card h5 {
      color: rgba(0, 0, 0, 0.7);
      font-size: 16px;
      font-weight: 300;
      padding-top: 5px; }
    .forecast-daily .forecast-daily-card .daily-icon {
      padding: 25px 0; }
      .forecast-daily .forecast-daily-card .daily-icon img {
        width: 105px; }
    .forecast-daily .forecast-daily-card .daily-conditions {
      color: rgba(0, 0, 0, 0.8);
      font-size: 16px;
      height: 45px;
      line-height: 18px;
      margin-bottom: 60px; }
    .forecast-daily .forecast-daily-card .daily-high-low {
      bottom: 15px;
      font-size: 14px;
      left: 20px;
      position: absolute; }
    .forecast-daily .forecast-daily-card .daily-precip {
      bottom: 15px;
      right: 20px;
      font-size: 14px;
      position: absolute; }
  @media only screen and (max-width: 800px) {
    .forecast-daily .forecast-daily-card {
      height: 300px;
      padding: 10px; }
      .forecast-daily .forecast-daily-card .daily-icon img {
        width: 80px; }
      .forecast-daily .forecast-daily-card .daily-conditions {
        font-size: 15px;
        height: 40px;
        line-height: 17px;
        margin-bottom: 50px; }
      .forecast-daily .forecast-daily-card .daily-high-low {
        bottom: 10px;
        font-size: 12px;
        left: 10px; }
      .forecast-daily .forecast-daily-card .daily-precip {
        bottom: 10px;
        right: 10px;
        font-size: 12px; } }
  @media only screen and (max-width: 480px) {
    .forecast-daily {
      border-left: none;
      border-top: 1px solid rgba(0, 0, 0, 0.08);
      flex-direction: column; }
      .forecast-daily .forecast-daily-card {
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        border-right: none;
        flex-direction: row;
        justify-content: space-between;
        height: 60px;
        width: 100%; }
        .forecast-daily .forecast-daily-card h4 {
          display: inline-block;
          float: left;
          font-size: 14px;
          line-height: 40px;
          padding: 0;
          text-align: left;
          text-transform: uppercase;
          width: 40px; }
        .forecast-daily .forecast-daily-card h5 {
          display: none; }
        .forecast-daily .forecast-daily-card .daily-icon {
          display: inline-block;
          float: left;
          padding: 0;
          width: 70px; }
          .forecast-daily .forecast-daily-card .daily-icon img {
            width: 40px; }
        .forecast-daily .forecast-daily-card .daily-conditions {
          display: none; }
        .forecast-daily .forecast-daily-card .daily-high-low {
          bottom: auto;
          font-size: 14px;
          left: auto;
          line-height: 40px;
          position: relative;
          text-align: left;
          width: 70px; }
        .forecast-daily .forecast-daily-card .daily-precip {
          bottom: auto;
          font-size: 14px;
          line-height: 40px;
          right: auto;
          position: relative;
          text-align: left;
          width: 50px; } }

.weather-table {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.8);
  width: 100%; }
  .weather-table thead tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .weather-table thead th {
    flex-basis: 24%;
    font-weight: 700;
    padding: 20px;
    text-align: left; }
    .weather-table thead th.hourly-time {
      flex-basis: 16%; }
    .weather-table thead th.hourly-icon {
      flex-basis: 12%; }
  .weather-table tbody tr {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .weather-table tbody td {
    flex-basis: 24%;
    padding: 20px;
    text-align: left; }
    .weather-table tbody td.hourly-time {
      flex-basis: 15%; }
    .weather-table tbody td.hourly-icon {
      flex-basis: 13%;
      padding: 5px 5px 5px 15px; }
      .weather-table tbody td.hourly-icon img {
        height: 50px; }
  .weather-table li {
    float: left;
    padding: 20px 0; }

@media only screen and (max-width: 800px) {
  .weather-table {
    font-size: 15px; }
    .weather-table th.hourly-time {
      flex-basis: 19%; }
    .weather-table td.hourly-time {
      flex-basis: 18%; } }

@media only screen and (max-width: 480px) {
  .weather-table {
    font-size: 14px; }
    .weather-table thead tr {
      display: none; }
    .weather-table thead th.hourly-time {
      flex-basis: 19%; }
    .weather-table thead th.hourly-condition {
      display: none; }
    .weather-table tbody tr {
      height: 60px;
      padding: 10px; }
    .weather-table tbody td {
      flex-basis: 25%;
      padding: 20px 5px; }
      .weather-table tbody td.hourly-time {
        flex-basis: 30%;
        line-height: 40px;
        padding: 0; }
      .weather-table tbody td.hourly-icon {
        flex-basis: 25%;
        padding: 0; }
        .weather-table tbody td.hourly-icon img {
          height: 40px;
          width: 40px; }
      .weather-table tbody td.hourly-condition {
        display: none; }
      .weather-table tbody td.hourly-temp {
        flex-basis: 20%;
        line-height: 40px;
        padding: 0; }
      .weather-table tbody td.hourly-precip {
        flex-basis: 20%;
        line-height: 40px;
        padding: 0; } }
