.main {
  background-color: #FF9A9E;
  font-family: Avenir Next;
  text-align: center;

  h1 {
    color: white;
    font-weight: normal;
  }

  a {
    text-decoration: none;
  }
}

.button {
  background-color: blue;
  border: 0px;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 30px;
}